%article.video_category
  %header
    %h3= link_to "TV Comedies", '#'
  .videos.row
    - @videos.each do |video|
      .video.span2
        = link_to "", nil do
          %img(src="/tmp/#{video.small_cover_url}")


%article.video_category
  %header
    %h3= link_to "TV Drama", '#'
  .videos.row
    - 6.times do
      .video.span2
        = link_to "", nil do
          %img(src="/tmp/#{['curbyourenthusiasm_small', 'futurama', 'south_park'].sample}.jpg")

